<app-navbar></app-navbar>
<app-loading *ngIf="!playLists || !userInfo"></app-loading>
<div *ngIf="userInfo" class="outer-container">
    <div class="user-details">
        <a routerLink="/home" class="back-link">
            <img src="assets/svg/back.svg" alt="Back"> 
        </a>
        <div class="image-container">
            <img *ngIf="userInfo.images" src="{{ userInfo.images[1].url }}" alt="Profile Picture" class="profile-picture">
        </div>
        <div class="profile-info">
            <p class="text-element">Profile</p>
            <p class="display-name"> {{ userInfo.display_name }}</p>
            <a href="{{ userInfo.external_urls.spotify }}" target="_blank" rel="noopener" class="spotify-link">
                <button type="button" class="spotify-button"> VIEW ON SPOTIFY
                    <img class="spotify-img" src="assets/spotify.png" alt="Spotify">
                </button>
            </a>    
            <p class="text-element">Total Playlists: {{ playLists }}</p>
        </div>                        
        <button type="button" class="logout-button" (click)="logout()">LOG OUT</button>
    </div>
</div>
 