<app-navbar></app-navbar>
<div class="outer-container">
    <a routerLink="/home" class="nav-link">
        <img src="assets/svg/back.svg" alt="Back"> 
    </a>
    <div class="inner-container">
        <form>
            <input type="text" placeholder="Search for a track" [(ngModel)]="input" name="input" 
            class="search-input" (input)="onInput($event)" autocomplete="off">
            <a routerLink="/compatibility">
                <button type="button" [disabled]="!isSelected" [ngClass]="{'disabled-button': !isSelected}"> SUBMIT </button>
            </a>
        </form>
        <div class="dropdown" *ngIf="searchResults.length > 0">
            <ul>
                <li *ngFor="let result of searchResults" (click)="selectResult(result)">
                    {{ result.artists[0].name }} - {{ result.name }}
                </li>
            </ul>
        </div>
    </div>
</div>