<app-navbar></app-navbar>
<div class="outer-container">
    <div class="intro-text">
        <p>Welcome to <span class="app-name">Choordify</span>, your go-to destination for optimizing your Spotify playlists with precision and ease.</p>
        <p>Are you tired of scrolling endlessly through your playlists, wondering which song would fit best? Or perhaps you're curious if your playlists truly reflect your musical taste?</p>
        <p>Look no further. <span class="app-name">Choordify</span> offers two powerful functionalities to streamline your Spotify experience:</p>
        <ol>
            <li><strong>Song Compatibility Analysis:</strong> Ever found the perfect song but struggled to decide where it belongs in your playlists? Our app analyzes the unique features of each track, providing insightful recommendations on where to add it for maximum synergy. Simply search for a song, select it, and witness how our compatibility algorithm identifies the perfect playlist match.</li>
            <li><strong>Playlist Health Check:</strong> Take control of your music library like never before. With our comprehensive analysis, you can now assess the compatibility of each song within your playlists. Discover if any tracks disrupt the flow or vibe of your carefully curated playlists and optimize them effortlessly.</li>
        </ol>
        <p>Powered by Spotify integration and cutting-edge compatibility calculations based on track features, <span class="app-name">Choordify</span> revolutionizes the way you manage and enjoy your music collections.</p>
    </div>
</div>