<app-navbar></app-navbar>
<div class="outer-container">
    <div class="about-text">
        <h2 class="about"> About</h2>
        <p>Choordify is a platform designed to enhance your Spotify experience, by providing two main functionalities:</p>
        <ol>
            <li><strong>Playlist organization:</strong> Easily optimize your playlists by rearranging tracks to create a seamless listening journey.</li>
            <li><strong>Song recommendations:</strong> Ever faced the dilemma of where to add a new favorite song? Choordify analyzes each track's unique features and suggests the most compatible playlists, ensuring your music library stays finely tuned.</li>
        </ol>
        <p>Whether you're fine-tuning your playlists or discovering new music, Choordify utilizes seven different song attributes to provide tailored recommendations and improve your listening experience.</p>
    </div>
</div>