@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: #191414;
    color: #fff; 
    font-family: 'Nunito', sans-serif; 
  }