<app-navbar></app-navbar>

<div class="outer-container">
    <div class="inner-container">
        <div class="button-wrapper">
            <p> Rearrange tracks in your existing playlists</p>
            <a routerLink="/sort"
            ><button type="button"> Sort playlists </button></a>
        </div>
        <div class="button-wrapper">
            <p>Get recommendations upon adding a new track</p>
            <a routerLink="/add"
            ><button type="button"> Add new song </button></a>
        </div>
    </div>
</div>