<nav class="navbar">
    <a routerLink="/home" class="navbar-brand">Choordify</a>
    <div class="nav-items">
        <a routerLink="/home" class="nav-link">
            <img src="assets/svg/home.svg" alt="Home">
        </a>
        <a routerLink="/about" class="nav-link">
            <img src="assets/svg/about.svg" alt="About">
        </a>
        <div *ngIf="userInfo" class="profile" (click)="toggleDropdown()">
            <img src="assets/svg/profile.svg" alt="Profile"> 
            <p>{{userInfo.display_name}}</p>
            <div class="dropdown-menu" *ngIf="isDropdown">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </div>
    </div>
</nav>