<app-navbar></app-navbar>
<app-loading *ngIf="!playlist"></app-loading>
<div class="outer-container" *ngIf="playlist">
    <div class="upper-container">
        <a routerLink="/sort" class="back-link">
            <img src="assets/svg/back.svg" alt="Back"> 
        </a>
        <img class="playlist-cover" *ngIf="playlist.images" [src]="playlist.images[0]?.url" alt="Playlist Cover">
        <img class="playlist-cover" *ngIf="!playlist.images" src="favicon.ico" alt="Playlist Cover">
        <div class="playlist-details">
            <div class="playlist-info">
                <p class="playlist-tracks"*ngIf="playlist.public">Public Playlist</p>
                <p class="playlist-tracks"*ngIf="!playlist.public">Private Playlist</p>
                <p class="playlist-name" [title]="playlist.name">{{ playlist.name.length > 25 ? playlist.name.slice(0, 25) + '...' : playlist.name }}</p>
                <p class="playlist-tracks"> 
                    {{ playlist.owner['display_name'] }} <span class="dot">&bull;</span>  
                    {{ playlist.tracks['total'] }} {{ playlist.tracks['total'] === 1 ? 'song' : 'songs' }}
                </p>
            </div>
            <p class="instructions"><span>Expand a song</span> to learn more</p> 
            <div class="colour-blocks">
                <div class="colour-block" title="Average features of current playlist" [class.hover]="hover_current" (mouseenter)="hover_current = true" (mouseleave)="hover_current = false">
                    <div class="playlist-colour colour"></div>
                    <p>current playlist</p>
                </div>
                <div class="colour-block" title="Selected song's features" [class.hover]="hover_song" (mouseenter)="hover_song = true" (mouseleave)="hover_song = false">
                    <div class="song-colour colour"></div>
                    <p>chosen song</p>
                </div>
                <div class="colour-block" title="Average features of recommended playlist" [class.hover]="hover_recommended" (mouseenter)="hover_recommended = true" (mouseleave)="hover_recommended = false">
                    <div class="bestfit-colour colour"></div>
                    <p>recommended playlist</p>
                </div>
            </div>
            <ul class="averages-container"> 
                <li class="playlist-feature" *ngFor="let key of keys; let i = index">
                    <p class="feature-label" [class.below]="i % 2 === 0">{{ key }}</p>
                    <div class="bar-container" (mouseenter)="hover_current = true" (mouseleave)="hover_current = false" [class.hover]="hover_current">
                        <div class="bar" [style.height.%]="playlist.enlargedFeatures[key]"></div>
                        <div class="bar-tooltip">{{ playlist.enlargedFeatures[key] }}%</div>
                    </div>
                    <div class="empty-song-bar bar-container" (mouseenter)="hover_song = true" (mouseleave)="hover_song = false" [class.hover]="hover_song">
                        <div *ngIf="selectedSong">
                            <div class="bar" [style.height.%]="selectedSong.enlargedFeatures[key]"></div>
                            <div class="bar-tooltip">{{ selectedSong.enlargedFeatures[key] }}%</div>
                        </div>
                    </div>
                    <div class="empty-bestfit-bar bar-container" (mouseenter)="hover_recommended = true" (mouseleave)="hover_recommended = false" [class.hover]="hover_recommended">
                        <div *ngIf="selectedSong && selectedSong.best_fit != playlist">
                            <div class="bar" [style.height.%]="selectedSong.best_fit.enlargedFeatures[key]"></div>
                            <div class="bar-tooltip">{{ selectedSong.best_fit.enlargedFeatures[key] }}%</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="tracks-container" *ngIf="displayedSongs">
        <li class="track" *ngFor="let song of displayedSongs" [ngClass]="{'open-dropdown': song.more}">  
            <img class="track-cover" *ngIf="song.album && song.album.images && song.album.images.length > 0"
                [src]="song.album.images[0].url" alt="Track cover">
            <div class="track-details">
                <p class="track-title" [title]="song.name"> {{ song.name.length > 23 ? song.name.slice(0, 23) + '...' : song.name }} </p>
                <p class="track-artist" [title]="song.artists[0]['name'] + ': ' + song.album.name"> 
                    {{ song.artists[0]['name'].length > 18 ? song.artists[0]['name'].slice(0, 18) + '...' : song.artists[0]['name'] }} 
                    <span class="dot">&bull;</span> 
                    {{ song.album.name.length > 25 ? song.album.name.slice(0, 25) + '...' : song.album.name }}
                </p>
                <p class="compatibility-text">Compatibility with <span>current playlist</span></p>
                <div class="compatibility-bar">
                    <div class="compatibility-filled" [style.width.%]="song.current_compatibility"></div>
                    <span class="compatibility-percentage">{{ song.current_compatibility }}%</span>
                </div>
            </div>
            <div *ngIf="!song.more" class="view-more" (click)="toggleDropdown(song)">
                <img class="warning" *ngIf="song.warning" src="assets/svg/warning.svg" alt="Warning" title="Much better suited playlist found"> 
                <img *ngIf="!song.more" src="assets/svg/more.svg" alt="More" title="View more"> 
            </div>
            <button *ngIf="!song.removing" type="button" class="remove-button" (click)="removeFromPlaylist(song)">Remove</button>
            <p *ngIf="song.removing" class="loading-text">Removing...</p>
            <div class="dropdown" [ngClass]="{'open': song.more}">
                <div *ngIf="song.shouldMove">
                    <p class="info-text"> This song is best suited to playlist 
                        <span title="{{song.best_fit.name}}" >{{ song.best_fit.name.length > 25 ? song.best_fit.name.slice(0, 25) + '...' : song.best_fit.name }}</span>. <br>
                        However, you can still keep it here if you'd like!
                    </p>
                    <p class="bestfit-text" [title]="song.best_fit.name"> Compatibility with  
                    <span> {{ song.best_fit.name.length > 25 ? song.best_fit.name.slice(0, 25) + '...' : song.best_fit.name }}</span></p>
                    <div class="bestfit-bar">
                        <div class="compatibility-filled" [style.width.%]="song.max_compatibility"></div>
                        <span class="compatibility-percentage">{{ song.max_compatibility }}%</span>
                    </div>
                    <button type="button" class="add-button" title="Add without removing" *ngIf="!song.adding" (click)="addToPlaylist(song)">Add to playlist</button>
                    <p *ngIf="song.adding" class="adding-text">Adding to playlist...</p>
                    <button type="button" class="remove-button" title="Add and remove" *ngIf="!song.loading" (click)="changeTrackPlaylist(song)">Move to playlist</button>
                    <p *ngIf="song.loading" class="loading-text">Moving to playlist...</p>
                </div>
                <div *ngIf="!song.shouldMove">
                    <p><span>Well done!</span> This song has already found its perfect match from your playlists!</p>
                </div>
                <img class="view-less" src="assets/svg/less.svg" alt="Less" title="View less" (click)="toggleDropdown(song)">
            </div>
        </li>
        <li *ngIf="playlist.tracks.total > displayedSongs.length">
            <p *ngIf="!loading_more" class="load-more-text" (click)="loadMoreTracks()">Load more tracks</p>
            <p *ngIf="loading_more" class="loading-more-text">Loading more tracks...</p>
        </li>
    </ul>
</div>