.outer-container {
    background-color: #353232;
    height: 82vh;
    width: 1000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upper-container {
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.feature-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 10px; /* Adjust the width as needed */
    background-color: blue; 
    max-height: 200px;/* Adjust the color as needed */
}


.nav-link {
    opacity: 0.6;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 1;
}

.playlist-cover {
    width: 80px;
    height: 80px;
    margin-left: 60px;
}

.playlist-details {
    margin-left: 20px;
}

.playlist-name {
    margin-top: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.playlist-tracks {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
}



.tracks-container {
    margin-left: 100px;
    padding-top: 10px;
    width: 800px;
    max-height: 55vh;
    overflow-y: auto;
}

.tracks-container::-webkit-scrollbar {
    width: 6px; 
}

.tracks-container::-webkit-scrollbar-thumb {
    background-color: #6d6868; 
    border-radius: 4px; 
}

.tracks-container::-webkit-scrollbar-track {
    background-color: #3b3838; 
}

.tracks-container::-webkit-scrollbar-thumb:hover {
    background-color: #494646; 
}

.track {
    display: flex;
    background-color: #282626;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    transition: margin-bottom 0.3s ease-in-out;
}

.track.open-dropdown {
    margin-bottom: 150px;
    background-color: #484444;
}

.track:hover {
    background-color: #484444;
}

.track-cover {
    width: 45px; 
    height: 45px;
}

.track-details {
    margin-left: 15px; 
}

.track-title { 
    font-family: 'Nunito-Bold';
    font-size: 0.9rem;
    margin-bottom: 2px; 
}

.track-artist {
    font-size: 0.8rem;
    color: #bababa;
    margin-top: 2px; 
}

.compatibility-bar {
    height: 20px;
    background-color: #4a4a4a; 
    border: 1px solid #7e7e7e;
    width: 200px;
    position: absolute;
    border-radius: 10px; 
    bottom: 30px;
    left: 300px;
}

.compatibility-filled {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50; 
    border-radius: 10px; 
}

.compatibility-percentage {
    font-size: 0.8rem;
    font-family: 'Nunito-Bold', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #303030; 
}

.view-more {
    margin-bottom: 0; 
    opacity: 0.6;
    color: #fff;
    text-decoration: none;
}

.view-more:hover {
    opacity: 1;
}

.dropdown {
    position: absolute;
    background-color: #686262;
    width: 100%; 
    top: 95%;
    bottom: 0;
    height: 0;
    left: 0; 
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center; 
}

.dropdown.open {
    overflow: visible;
    height: 145px;
}


.dropdown-item {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.view-less {
    align-self: flex-end;
    margin-bottom: 10px;
    opacity: 0.6;
    color: #fff;
    text-decoration: none;
}

.view-less:hover {
    opacity: 1;
}