<nav class="navbar">
    <a routerLink="/home" class="navbar-brand">
        <img src="favicon.ico" alt="Favicon">
        Choordify
    </a>
    <div class="nav-items">
        <a href="https://open.spotify.com" target="_blank" rel="noopener" class="spotify-link">
            <button type="button" class="spotify-button"> OPEN SPOTIFY
                <img class="spotify-img" src="assets/spotify.png" alt="Spotify">
            </button>
        </a>
        <a routerLink="/home" class="nav-link" title="Home">
            <img src="assets/svg/home.svg" alt="Home">
        </a>
        <a routerLink="/about" class="nav-link" title="About">
            <img src="assets/svg/about.svg" alt="About">
        </a>
        <div *ngIf="display_name" class="profile" [class.open]="isDropdown" (click)="toggleDropdown()">
            <img src="assets/svg/profile.svg" alt="Profile"> 
            <p>{{display_name}}</p>
            <div class="dropdown-menu" *ngIf="isDropdown">
                <a class="dropdown-item" routerLink="/profile">Profile</a>
                <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>
        </div>
    </div>
</nav>