@import '../../../styles.scss';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.navbar-brand {
    font-size: 2rem;
    text-decoration: none;
    color: $white;
    font-family: 'Nunito-Bold', sans-serif;
    margin-left: 10px;
    margin-top: 0;
    display: flex;
    align-items: center;
    
    img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
}

.nav-items {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.spotify-link {
    text-decoration: none;
}

.spotify-button {
    font-size: 0.9rem;
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    margin-right: 28px;
}


.nav-link {
    margin-right: 25px;
    opacity: 0.6;
    color: $white;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 1;
    border-bottom: 4px solid $white;

}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto; 
    margin-bottom: 5px;
    padding-left: 20px;
    background-color: $medium-grey;
    border-radius: 30px;
    width: 180px;
    opacity: 0.6;
    cursor: pointer;
}

.profile.open {
    background-color: #555;
    opacity: 1;
}

.profile:hover {
    opacity: 1;
    background-color: #555;
}

.profile p {
    margin-left: 10px;
    color: $white;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    border-width: 3px;
    border-color: $light-grey;
    right: 5px;
    width: 190px;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
}


.dropdown-item {
    background-color: $dark-grey;
    display: block;
    color: #d2cfcfe9;
    text-decoration: none;
    padding: 10px;
    opacity: 0.8;
}

.dropdown-item:hover {
    background-color: #555;
    color: $white;
    opacity: 1;
}
