<app-navbar></app-navbar>
<app-loading *ngIf="playlists.length === 0"></app-loading>
<div class="outer-container">
    <p class="instructions">Choose a <span>playlist </span> to fine-tune</p>
    <div class="playlists">
        <ul class="playlists-container" *ngIf="playlists.length > 0">
            <li class="playlist-container" *ngFor="let playlist of playlists; let i = index">   
                <div class="playlist-content">
                    <img class="playlist-cover" *ngIf="playlist.images" [src]="playlist.images[0]?.url" alt="Playlist Cover">
                    <img class="playlist-cover" *ngIf="!playlist.images" src="favicon.ico" alt="Playlist Cover">
                    <div class="playlist-details">
                        <p class="playlist-name" [title]="playlist.name">{{ playlist.name.length > 25 ? playlist.name.slice(0, 25) + '...' : playlist.name }}</p>
                        <p class="playlist-tracks"> {{ playlist.owner['display_name'] }} 
                            <span class="dot">&bull;</span>  
                            {{ playlist.tracks['total'] }} {{ playlist.tracks['total'] === 1 ? 'song' : 'songs' }}
                        </p>
                    </div>
                </div>
                <a routerLink="/playlist">
                    <button class="details-button" type="button" (click)="selectPlaylist(playlist)"> Analyze </button>
                </a>
            </li>
        </ul>
    </div>
</div>
