<app-navbar></app-navbar>
<div class="outer-container">
    <ul class="playlists-container">
        <li class="playlist" *ngFor="let playlist of playlists" (click)="toggleColour($event)">   
            <div class="playlist-content">
                <img class="playlist-cover" *ngIf="playlist.images" [src]="playlist.images[0]?.url" alt="Playlist Cover">
                <img class="playlist-cover" *ngIf="!playlist.images" src="assets/svg/note.svg" alt="Playlist Cover">
                <div class="playlist-details">
                    <p class="playlist-name">{{ playlist.name }}</p>
                    <p class="playlist-tracks">{{ playlist.tracks["total"] }} songs </p>
                </div>
            </div>
            <button class="details-button" type="button" (click)="toggleAverages(playlist)"> Details</button>
            <button class="details-button" type="button" (click)="toggleTracks(playlist)"> tracks</button>
            <ul class="track-features" *ngIf="playlist.displayAverages">
                <li class="track-feature" *ngFor="let keyValuePair of playlist.averages | keyvalue">
                    <p> {{ keyValuePair.key }}: {{ keyValuePair.value }} </p>
                </li>
            </ul> 
        </li>
    </ul>
</div>
