@import '../../../styles.scss';

.outer-container {
    background-color: #353232;
    height: 82vh;
    width: 1000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    display: flex; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playlists-container {
    padding-top: 10px;
    width: 800px;
    max-height: 73vh;
    overflow-y: auto;
}

.playlists-container::-webkit-scrollbar {
    width: 6px; 
}

.playlists-container::-webkit-scrollbar-thumb {
    background-color: #6d6868; 
    border-radius: 4px; 
}

.playlists-container::-webkit-scrollbar-track {
    background-color: #3b3838; 
}

.playlists-container::-webkit-scrollbar-thumb:hover {
    background-color: #494646; 
}

.playlist-content {
    display: flex;
    align-items: center;
}

.playlist-cover {
    width: 60px; 
    height: 60px;
    margin-right: 20px;
}

.playlist-details {
    flex-grow: 1;
}

.playlist-name {
    margin-top: 0;
    text-decoration: none;
    font-size: 1.05rem;
}

.playlist-tracks {
    margin-top: 5px;
    font-size: 0.8rem;
}

.playlist-list {
    list-style: none;
    padding: 0;
}

.playlist-container {
    align-items: center; 
    background-color: $dark-grey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex; 
}
 
.playlist-container:hover {
    transform: translateY(-5px);
    background-color: #484444;
}

.averages-container {
    left: 400px;
    top: 0;
    position: absolute;
    list-style: none;
    padding: 0;
    display: flex;
}

.playlist-feature {
    width: 30px;
    opacity: 0.7;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.playlist-feature:hover {
    opacity: 1;
}

.feature-label {
    position: relative;
    font-size: 0.45rem;
    left: 50%;
    top: 10px;
    margin-bottom: 5px;
    transform: translateX(-95%);
}

.feature-label.below {
    position: relative;
    top: calc(100% + 45px);
}

.bar-container {
    width: 5px;
    height: 40px; 
    background-color: $white;
    vertical-align: bottom; 
    position: absolute;
    top: 30px;
}

.bar {
    width: 100%;
    background-color: $main-green; 
    position: absolute;
    bottom: 0;
}


.details-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 0;
}



