@import '../../../styles.scss';

.outer-container {
    background-color: #353232;
    height: 80vh;
    width: 900px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex; 
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instructions {
    position: absolute;
    top: 5px;
    left: 100px;
    font-size: 1.8rem; 
}

span {
    font-family: 'Nunito-Bold', sans-serif; 
}


.playlists-container::-webkit-scrollbar {
    width: 6px; 
}

.playlists-container::-webkit-scrollbar-thumb {
    background-color: #6d6868; 
    border-radius: 4px; 
}

.playlists-container::-webkit-scrollbar-track {
    background-color: #3b3838; 
}

.playlists-container::-webkit-scrollbar-thumb:hover {
    background-color: #494646; 
}

.playlist-content {
    display: flex;
    align-items: flex-end;
}

.playlist-cover {
    margin-left: 5px;
    width: 60px; 
    height: 60px;
    margin-right: 20px;
}

.playlist-details {
    flex-grow: 1;
}

.playlist-name {
    margin-top: 0;
    text-decoration: none;
    font-size: 1.05rem;
}

.playlist-tracks {
    margin-bottom: 0;
    font-size: 0.8rem;
}

.playlist-list {
    list-style: none;
    padding: 0;
}

.playlists-container {
    margin-top: 75px;
    margin-left: 35px;
    padding-top: 5px;
    width: 800px;
    max-height: 63vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playlist-container {
    flex: 0 0 calc(50% - 28px); 
    background-color: $dark-grey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px; /* Add space between playlists */
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
}

 
.playlist-container:hover {
    transform: translateY(-5px);
    background-color: #484444;
}

.details-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 0;
}