<app-navbar></app-navbar>
<app-loading *ngIf="playlists.length === 0 || !track"></app-loading>
<div class="outer-container">
    <div class="left-container">
        <a routerLink="/add" class="nav-link">
            <img src="assets/svg/back.svg" alt="Back"> 
        </a>
        <div class="track-info-container">
            <div class="track-info" *ngIf="track">
                <img class="track-cover" *ngIf="track.album && track.album.images && track.album.images.length > 0"
                    [src]="track.album.images[0].url" 
                    alt="Track cover">
                <p class="track-title"> {{ track.name }} </p>
                <p class="track-details"> {{ track.artists[0]['name']}} <span class="dot">&bull;</span> {{ track.album.name }} </p>
                <ul class="track-features" *ngIf="track.displayFeatures">
                    <li class="track-feature" *ngFor="let keyValuePair of track.features | keyvalue">
                        <p> {{ keyValuePair.key }}: {{ keyValuePair.value }} </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="input-container">
            <p>Create a new playlist with the song instead</p>
            <div *ngIf="!creatingPlaylist">
                <input type="text" placeholder="Enter playlist name" [(ngModel)]="input" name="input" autocomplete="off">
                <button type="button" (click)="createPlaylist()">Create</button>
            </div>
            <div *ngIf="creatingPlaylist">
                <p>Creating playlist...</p>
            </div>
        </div>
    </div>
    <div class="playlists">
        <ul class="playlists-container" *ngIf="playlists.length > 0">
            <li class="playlist-container" *ngFor="let playlist of playlists">
                <div class="playlist-content">
                    <img class="playlist-cover" *ngIf="playlist.images" [src]="playlist.images[0]?.url" alt="Playlist cover">
                    <img class="playlist-cover" *ngIf="!playlist.images" src="assets/svg/note.svg" alt="Playlist Cover">
                    <div class="playlist-details">
                        <p class="playlist-name" [title]="playlist.name">{{ playlist.name.length > 25 ? playlist.name.slice(0, 25) + '...' : playlist.name }}</p>
                        <p class="playlist-tracks">{{ playlist.tracks["total"] }} songs </p>
                    </div>
                </div>
                <p class="compatibility-text">Compatibility with track </p>
                <div class="compatibility-bar">
                    <div class="compatibility-filled" [style.width.%]="playlist.compatibility"></div>
                    <span class="compatibility-percentage">{{ playlist.compatibility }}%</span>
                </div>
                <button *ngIf="!playlist.loading" type="button" class="playlist-button" (click)="addToPlaylist(playlist)">Add to playlist</button>
                <p *ngIf="playlist.loading">Adding to playlist...</p>
                <ul class="averages" *ngIf="playlist.displayAverages"> 
                    <li class="playlist-feature" *ngFor="let keyValuePair of playlist.averages | keyvalue">
                        <p> {{ keyValuePair.key }}: {{ keyValuePair.value }} </p>
                    </li>
                </ul> 
            </li>
        </ul>
    </div>
</div>
