<app-navbar></app-navbar>
<app-loading *ngIf="playlists.length === 0 || !track"></app-loading>
<div class="outer-container" *ngIf="track">
    <p class="instructions"><span>Click on a playlist </span> to learn more</p>
    <div class="left-container">
        <div>
            <a routerLink="/add" class="back-link">
                <img src="assets/svg/back.svg" alt="Back"> 
            </a>
        </div>
        <div class="track-info-container">
            <img class="track-cover" *ngIf="track.album && track.album.images && track.album.images.length > 0"
                [src]="track.album.images[0].url" 
                alt="Track cover">
            <div class="track-details-container">
                <p class="track-title" [title]="track.name"> {{ track.name.length > 23 ? track.name.slice(0, 23) + '...' : track.name }} </p>
                <p class="track-details" [title]="track.artists[0]['name'] + ': ' + track.album.name"> 
                    {{ track.artists[0]['name'].length > 18 ? track.artists[0]['name'].slice(0, 18) + '...' : track.artists[0]['name']}} 
                    <span class="dot">&bull;</span> 
                    {{ track.album.name.length > 25 ? track.album.name.slice(0, 25) + '...' : track.album.name }} 
                </p>
            </div>
        </div>
        <ul class="averages-container"> 
            <li class="song-feature" *ngFor="let key of keys; let i = index">
                <p class="feature-label" [class.below]="i % 2 === 0">{{ key }}</p>
                <div class="bar-container" [class.hover]="hover_song" (mouseenter)="hover_song = true" (mouseleave)="hover_song = false">
                    <div class="bar" [style.height.%]="track.enlargedFeatures[key]"></div>
                    <div class="bar-tooltip">{{ track.enlargedFeatures[key] }}%</div>
                </div>
                <div class="empty-selected-bar bar-container" [class.hover]="hover_playlist" (mouseenter)="hover_playlist = true" (mouseleave)="hover_playlist = false">
                    <div *ngIf="selectedPlaylist">
                        <div class="bar" [style.height.%]="selectedPlaylist.enlargedFeatures[key]"></div>
                        <div class="bar-tooltip">{{ selectedPlaylist.enlargedFeatures[key] }}%</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="colour-blocks">
            <div class="colour-block" title="Selected song's features" [class.hover]="hover_song" (mouseenter)="hover_song = true" (mouseleave)="hover_song = false">
                <div class="song-colour colour"></div>
                <p>song</p>
            </div>
            <div class="colour-block" title="Average features of chosen playlist" [class.hover]="hover_playlist" (mouseenter)="hover_playlist = true" (mouseleave)="hover_playlist = false">
                <div class="playlist-colour colour"></div>
                <p>chosen playlist</p>
            </div>
        </div>
        <div class="input-container">
            <p class="input-text">Create a new playlist with the song instead</p>
            <div *ngIf="!creatingPlaylist">
                <input type="text" placeholder="Enter playlist name" [(ngModel)]="input" name="input" autocomplete="off">
                <button type="button" [class.disabled]="input.length == 0" (click)="createPlaylist()">Create</button>
            </div>
            <div *ngIf="creatingPlaylist">
                <p class="loading-text">Creating playlist...</p>
            </div>
        </div>
    </div>
    <div class="playlists">
        <ul class="playlists-container" *ngIf="playlists.length > 0">
            <li class="playlist-container" *ngFor="let playlist of playlists" [ngClass]="{'selected': playlist === selectedPlaylist}" (click)="selectPlaylist(playlist)">
                <div class="playlist-content">
                    <img class="playlist-cover" *ngIf="playlist.images" [src]="playlist.images[0]?.url" alt="Playlist cover">
                    <img class="playlist-cover" *ngIf="!playlist.images" src="favicon.ico" alt="Playlist Cover">
                    <div class="playlist-details">
                            <p class="playlist-name" [title]="playlist.name">{{ playlist.name.length > 25 ? playlist.name.slice(0, 25) + '...' : playlist.name }}</p>
                            <p class="playlist-tracks">
                                {{ playlist.owner['display_name'] }} 
                                <span class="dot">&bull;</span>  
                                {{ playlist.tracks["total"] }} {{ playlist.tracks['total'] === 1 ? 'song' : 'songs' }} 
                            </p>
                    </div>
                </div>
                <p class="compatibility-text">Compatibility with <span>song</span></p>
                <div class="compatibility-bar">
                    <div class="compatibility-filled" [style.width.%]="playlist.compatibility"></div>
                    <span class="compatibility-percentage">{{ playlist.compatibility }}%</span>
                </div>
                <button *ngIf="!playlist.loading" type="button" class="playlist-button" (click)="addToPlaylist(playlist)">Add to playlist</button>
                <p *ngIf="playlist.loading" class="adding-text">Adding to playlist...</p>
            </li>
        </ul>
    </div>
</div>
