.outer-container {
    background-color: #353232;
    height: 82vh;
    width: 1200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    display: flex; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.track-info {
    margin-top: 20px;
    width: 400px;
    padding: 15px;
}

.track-title { 
    font-family: 'Nunito-Bold';
    font-size: 1.1rem;
}

.track-details {
    font-size: 0.9rem;
    color: #bababa;
}

.track-cover {
    width: 100px; 
    height: auto;

}

.track-features {
    list-style: none;
    font-size: 0.8rem;
}

.playlists-container {
    padding-top: 10px;
    width: 900px;
    max-height: 80vh;
    overflow-y: auto;
}

.playlists-container::-webkit-scrollbar {
    width: 6px; 
}

.playlists-container::-webkit-scrollbar-thumb {
    background-color: #6d6868; 
    border-radius: 4px; 
}

.playlists-container::-webkit-scrollbar-track {
    background-color: #3b3838; 
}

.playlists-container::-webkit-scrollbar-thumb:hover {
    background-color: #494646; 
}

.playlist-content {
    display: flex;
    align-items: center;
}

.playlist-cover {
    width: 80px; 
    height: 80px;
    margin-right: 20px;
}

.playlist-details {
    flex-grow: 1;
}

.playlist-name {
    margin-top: 0;
    text-decoration: none;
    font-size: 1.1rem;
}

.playlist-tracks {
    margin-top: 5px;
    font-size: 0.8rem;
}

.playlist-list {
    list-style: none;
    padding: 0;
}

.playlist-container {
    align-items: center; 
    background-color: #282626;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex; 
}
 
.playlist-container:hover {
    transform: translateY(-5px);
    background-color: #484444;
}

.dot {
    margin: 0 7px;
}

.compatibility-bar {
    height: 20px;
    background-color: #4a4a4a; 
    border: 1px solid #7e7e7e;
    width: 200px;
    position: absolute;
    border-radius: 10px; 
    bottom: 30px;
    left: 300px;
}

.compatibility-filled {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50; 
    border-radius: 10px; 
}

.compatibility-percentage {
    font-size: 0.8rem;
    font-family: 'Nunito-Bold', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #303030; 
}


button {
    margin-left: auto;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 0;
}

.input-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.input-container input {
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-size: 0.8rem;
    border-radius: 10px; 
    padding: 5px 10px;
    text-indent: 10px;
}

.input-container button {
    height: 30px;
    padding: 0 10px;
    font-size: 1rem;
}