<app-navbar></app-navbar>
<div class="outer-container">
    <div class="track-info" *ngIf="track">
        <img class="track-cover" *ngIf="track.album && track.album.images && track.album.images.length > 0"
             [src]="track.album.images[0].url" 
             alt="Track cover">
        <p> {{ track.name }} </p>
        <p> {{ track.album.name }} </p>
        <p>
            <span *ngFor="let artist of track.artists; let last = last">
                {{ artist.name }}{{ !last ? ', ' : '' }}
            </span>
        </p>
        <button type="button" (click)="toggleFeatures()"> Details</button>
        <ul class="track-features" *ngIf="displayFeatures">
            <li class="track-feature" *ngFor="let keyValuePair of trackInfo | keyvalue">
                <p> {{ keyValuePair.key }}: {{ keyValuePair.value }} </p>
            </li>
        </ul>
    </div>
    <div class="playlists-container" *ngIf="playlists.length > 0">
        <ul class="playlist-list">
        <li class="playlist-container" *ngFor="let playlist of playlists">
                <img class="playlist-cover" [src]="playlist.images[0]?.url" alt="Playlist cover">
                <p class="playlist-name">{{ playlist.name }}</p>
                <p class="playlist-tracks">{{ playlist.tracks["total"] }} songs </p>
                <p>{{ playlist.compatibility }}</p>
                <button type="button" (click)="toggleAverages(playlist)">Details</button>
                <ul class="averages" *ngIf="playlist.displayAverages"> 
                    <li class="playlist-feature" *ngFor="let keyValuePair of playlist.averages | keyvalue">
                        <p> {{ keyValuePair.key }}: {{ keyValuePair.value }} </p>
                    </li>
                </ul> 
        </li>
        </ul>
    </div>
</div>
